<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    @Styles.Render("~/Content/css")
    <meta name = "apple-mobile-web-app-capable" content = "yes" />
    <link href = "/Content/jquery-ui-themes.css" type = "text/css" rel = "stylesheet" />
    <link href = "/Content/axure_rp_page.css" type = "text/css" rel = "stylesheet" />
    <link href = "/Content/styles.css" type = "text/css" rel = "stylesheet" />
    <script src="/Scripts/jquery-1.7.1.min.js"></script>
    <script src="/Scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="/Scripts/axure/axQuery.js"></script>
    <script src="/Scripts/axure/globals.js"></script>
    <script src="/Scripts/axutils.js"></script>
    <script src="/Scripts/axure/annotation.js"></script>
    <script src="/Scripts/axure/axQuery.std.js"></script>
    <script src="/Scripts/axure/doc.js"></script>
    <script src="/Scripts/document.js"></script>
    <script src="/Scripts/messagecenter.js"></script>
    <script src="/Scripts/axure/events.js"></script>
    <script src="/Scripts/axure/recording.js"></script>
    <script src="/Scripts/axure/action.js"></script>
    <script src="/Scripts/axure/expr.js"></script>
    <script src="/Scripts/axure/geometry.js"></script>
    <script src="/Scripts/axure/flyout.js"></script>
    <script src="/Scripts/axure/ie.js"></script>
    <script src="/Scripts/axure/model.js"></script>
    <script src="/Scripts/axure/repeater.js"></script>
    <script src="/Scripts/axure/sto.js"></script>
    <script src="/Scripts/axure/utils.temp.js"></script>
    <script src="/Scripts/axure/variables.js"></script>
    <script src="/Scripts/axure/drag.js"></script>
    <script src="/Scripts/axure/move.js"></script>
    <script src="/Scripts/axure/visibility.js"></script>
    <script src="/Scripts/axure/style.js"></script>
    <script src="/Scripts/axure/adaptive.js"></script>
    <script src="/Scripts/axure/tree.js"></script>
    <script src="/Scripts/scripts/axure/init.temp.js"></script>
    <script src="/Scripts/axure/legacy.js"></script>
    <script src="/Scripts/axure/viewer.js"></script>
    <script src="/Scripts/axure/math.js"></script>
    <script type="text/javascript">
        $axure.utils.getTransparentGifPath = function () { return '/Content/images/transparent.gif'; };
        $axure.utils.getOtherPath = function () { return '/Content/Other.html'; };
        $axure.utils.getReloadPath = function () { return '/Content/reload.html'; };
    </script>
</head>
<body>
    @RenderBody()
</body>
</html>

