<title>登陆页面</title>
<link href="/Content/LoginStyles.css" type="text/css" rel="stylesheet" />
<script src="/Scripts/LoginData.js"></script>

    <div id="base" class="">

        <!-- Unnamed (矩形) -->
        <div id="u0" class="ax_default box_1">
            <div id="u0_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u1" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u2" class="ax_default box_2">
            <div id="u2_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u3" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u4" class="ax_default box_3">
            <div id="u4_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u5" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (图片) -->
        <div id="u6" class="ax_default image">
            <img id="u6_img" class="img " src="/Content/images/登陆页面/u6.png" />
            <!-- Unnamed () -->
            <div id="u7" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u8" class="ax_default box_3">
            <div id="u8_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u9" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u10" class="ax_default box_3">
            <div id="u10_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u11" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u12" class="ax_default box_3">
            <div id="u12_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u13" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u14" class="ax_default box_3">
            <div id="u14_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u15" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u16" class="ax_default _一级标题">
            <div id="u16_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u17" class="text" style="visibility: visible;">
                <p><span>欢迎回来！</span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <form action="/Login" method="post">
            <div id="u18" class="ax_default box_3">
                <input type="text" id="u18_div" class="" name="username" />
                <!-- Unnamed () -->
                <div id="u19" class="text" style="display: none; visibility: hidden">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u20" class="ax_default box_1">
                <div id="u20_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u21" class="text" style="display: none; visibility: hidden">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u22" class="ax_default box_3">
                <input type="password" id="u18_div" class="" name="password" />
                <input type="text" name="JumpUrl" value="
                @ViewBag.JumpUrl" hidden />
                <!-- Unnamed () -->
                <div id="u23" class="text" style="display: none; visibility: hidden">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u24" class="ax_default box_3">
                <!--<input type="submit" id="u24_div" class="" value="" />-->
                <!-- Unnamed () -->
                <input type="submit" id="u24_div" class="" value="登录" />
            </div>
        </form>
    </div>
    <!-- Unnamed (矩形) -->
    <div id="u26" class="ax_default _二级标题">
        <div id="u26_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u27" class="text" style="visibility: visible;">
            <!--<p><span>账号</span></p>-->
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u28" class="ax_default _二级标题">
        <div id="u28_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u29" class="text" style="visibility: visible;">
            <!--<p><span>密码</span></p>-->
        </div>
    </div>

    <!-- Unnamed (占位符) -->
    <div id="u30" class="ax_default placeholder">
        <img id="u30_img" class="img " src="/Content/images/登陆页面/u30.png" />
        <!-- Unnamed () -->
        <div id="u31" class="text" style="visibility: visible;">
            <p><span>图片</span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u32" class="ax_default _一级标题">
        <div id="u32_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u33" class="text" style="visibility: visible;">
            <p><span>Welcome back!</span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u34" class="ax_default box_3">
        <div id="u34_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u35" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u36" class="ax_default box_3">
        <div id="u36_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u37" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>
