<title>登陆页面</title>
<link href="/Content/LoginStyles.css" type="text/css" rel="stylesheet" />
<script src="/Scripts/LoginData.js"></script>

<div class="container">
    <h2>基本进度条</h2>
    <p>要创建一个默认的进度条，可以在容器元素上添加 .progress 类，在子元素上添加 progress-bar 类，并设置进度条进度情况：:</p>
    <div class="progress" style="width:100px">
        <div class="progress-bar" style="width:70%"></div>
    </div>
</div>
