<!DOCTYPE html>
<html>
<head>
    <title>通知管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link href="/Content/jquery-ui-themes.css" type="text/css" rel="stylesheet" />
    <link href="/Content/axure_rp_page.css" type="text/css" rel="stylesheet" />
    <link href="/Content/styles.css" type="text/css" rel="stylesheet" />
    <link href="/Content/MessageIndexStyles.css" type="text/css" rel="stylesheet" />
    <script src="/Scripts/jquery-1.7.1.min.js"></script>
    <script src="/Scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="/Scripts/axure/axQuery.js"></script>
    <script src="/Scripts/axure/globals.js"></script>
    <script src="/Scripts/axutils.js"></script>
    <script src="/Scripts/axure/annotation.js"></script>
    <script src="/Scripts/axure/axQuery.std.js"></script>
    <script src="/Scripts/axure/doc.js"></script>
    <script src="/Scripts/document.js"></script>
    <script src="/Scripts/messagecenter.js"></script>
    <script src="/Scripts/axure/events.js"></script>
    <script src="/Scripts/axure/recording.js"></script>
    <script src="/Scripts/axure/action.js"></script>
    <script src="/Scripts/axure/expr.js"></script>
    <script src="/Scripts/axure/geometry.js"></script>
    <script src="/Scripts/axure/flyout.js"></script>
    <script src="/Scripts/axure/ie.js"></script>
    <script src="/Scripts/axure/model.js"></script>
    <script src="/Scripts/axure/repeater.js"></script>
    <script src="/Scripts/axure/sto.js"></script>
    <script src="/Scripts/axure/utils.temp.js"></script>
    <script src="/Scripts/axure/variables.js"></script>
    <script src="/Scripts/axure/drag.js"></script>
    <script src="/Scripts/axure/move.js"></script>
    <script src="/Scripts/axure/visibility.js"></script>
    <script src="/Scripts/axure/style.js"></script>
    <script src="/Scripts/axure/adaptive.js"></script>
    <script src="/Scripts/axure/tree.js"></script>
    <script src="/Scripts/scripts/axure/init.temp.js"></script>
    <script src="/Scripts/MessageIndexData.js"></script>
    <script src="/Scripts/axure/legacy.js"></script>
    <script src="/Scripts/axure/viewer.js"></script>
    <script src="/Scripts/axure/math.js"></script>
    <script type="text/javascript">
        $axure.utils.getTransparentGifPath = function () { return '/Content//Content//Content/images/transparent.gif'; };
        $axure.utils.getOtherPath = function () { return '/Content/Other.html'; };
        $axure.utils.getReloadPath = function () { return '/Content/reload.html'; };
    </script>
</head>
<body>
    <div id="base" class="">

        <!-- Unnamed (矩形) -->
        <div id="u290" class="ax_default box_1">
            <div id="u290_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u291" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u292" class="ax_default box_1">
            <div id="u292_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u293" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (椭圆形) -->
        <div id="u294" class="ax_default ellipse">
            <img id="u294_img" class="img " src="/Content/images/欢迎页面/u42.png" />
            <!-- Unnamed () -->
            <div id="u295" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u296" class="ax_default _一级标题">
            <div id="u296_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u297" class="text" style="visibility: visible;">
                <p><span>Welcome Nick!</span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u298" class="ax_default button">
            <div id="u298_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u299" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (图片) -->
        <div id="u300" class="ax_default _图片">
            <img id="u300_img" class="img " src="/Content/images/欢迎页面/u48.svg" />
            <!-- Unnamed () -->
            <div id="u301" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (图片) -->
        <div id="u302" class="ax_default _图片_">
            <img id="u302_img" class="img " src="/Content/images/欢迎页面/u50.png" />
            <!-- Unnamed () -->
            <div id="u303" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (椭圆形) -->
        <div id="u304" class="ax_default ellipse">
            <img id="u304_img" class="img " src="/Content/images/欢迎页面/u52.png" />
            <!-- Unnamed () -->
            <div id="u305" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u306" class="ax_default _三级标题">
            <div id="u306_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u307" class="text" style="visibility: visible;">
                <p><span>我的资料</span></p>
            </div>
        </div>

        <!-- Unnamed (图片) -->
        <div id="u308" class="ax_default image">
            <img id="u308_img" class="img " src="/Content/images/欢迎页面/u56.png" />
            <!-- Unnamed () -->
            <div id="u309" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u310" class="ax_default _三级标题">
            <div id="u310_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u311" class="text" style="visibility: visible;">
                <p><span>通知管理</span></p>
            </div>
        </div>

        <!-- Unnamed (占位符) -->
        <div id="u312" class="ax_default placeholder">
            <img id="u312_img" class="img " src="/Content/images/欢迎页面/u60.png" />
            <!-- Unnamed () -->
            <div id="u313" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u314" class="ax_default _三级标题">
            <div id="u314_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u315" class="text" style="visibility: visible;">
                <p><span>三级标题</span></p>
            </div>
        </div>

        <!-- Unnamed (占位符) -->
        <div id="u316" class="ax_default placeholder">
            <img id="u316_img" class="img " src="/Content/images/欢迎页面/u60.png" />
            <!-- Unnamed () -->
            <div id="u317" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u318" class="ax_default _三级标题">
            <div id="u318_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u319" class="text" style="visibility: visible;">
                <p><span>三级标题</span></p>
            </div>
        </div>

        <!-- Unnamed (图片) -->
        <div id="u320" class="ax_default image">
            <img id="u320_img" class="img " src="/Content/images/欢迎页面/u68.png" />
            <!-- Unnamed () -->
            <div id="u321" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u322" class="ax_default box_3">
            <div id="u322_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u323" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (占位符) -->
        <div id="u324" class="ax_default placeholder">
            <img id="u324_img" class="img " src="/Content/images/欢迎页面/u60.png" />
            <!-- Unnamed () -->
            <div id="u325" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u326" class="ax_default _三级标题">
            <div id="u326_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u327" class="text" style="visibility: visible;">
                <p><span>三级标题</span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u328" class="ax_default box_1">
            <div id="u328_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u329" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u330" class="ax_default box_3">
            <div id="u330_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u331" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u332" class="ax_default _三级标题">
            <div id="u332_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u333" class="text" style="visibility: visible;">
                <p><span>通知管理</span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u334" class="ax_default box_3">
            <div id="u334_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u335" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u336" class="ax_default box_3">
            <div id="u336_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u337" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u338" class="ax_default box_3">
            <div id="u338_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u339" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u340" class="ax_default box_3">
            <div id="u340_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u341" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u342" class="ax_default box_3">
            <div id="u342_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u343" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u344" class="ax_default box_3">
            <div id="u344_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u345" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u346" class="ax_default box_3">
            <div id="u346_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u347" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u348" class="ax_default box_3">
            <div id="u348_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u349" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u350" class="ax_default box_3">
            <div id="u350_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u351" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u352" class="ax_default box_3">
            <div id="u352_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u353" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u354" class="ax_default box_3">
            <div id="u354_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u355" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u356" class="ax_default box_3">
            <div id="u356_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u357" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u358" class="ax_default box_3">
            <div id="u358_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u359" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u360" class="ax_default box_3">
            <div id="u360_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u361" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u362" class="ax_default box_3">
            <div id="u362_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u363" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u364" class="ax_default box_3">
            <div id="u364_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u365" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u366" class="ax_default box_3">
            <div id="u366_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u367" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u368" class="ax_default box_3">
            <div id="u368_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u369" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u370" class="ax_default box_3">
            <div id="u370_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u371" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u372" class="ax_default box_3">
            <div id="u372_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u373" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u374" class="ax_default box_3">
            <div id="u374_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u375" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u376" class="ax_default box_3">
            <div id="u376_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u377" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u378" class="ax_default box_3">
            <div id="u378_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u379" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u380" class="ax_default box_3">
            <div id="u380_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u381" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u382" class="ax_default box_3">
            <div id="u382_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u383" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u384" class="ax_default box_3">
            <div id="u384_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u385" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u386" class="ax_default box_3">
            <div id="u386_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u387" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u388" class="ax_default box_3">
            <div id="u388_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u389" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u390" class="ax_default box_3">
            <div id="u390_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u391" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u392" class="ax_default box_3">
            <div id="u392_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u393" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u394" class="ax_default box_3">
            <div id="u394_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u395" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u396" class="ax_default box_3">
            <div id="u396_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u397" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u398" class="ax_default box_3">
            <div id="u398_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u399" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u400" class="ax_default box_3">
            <div id="u400_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u401" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u402" class="ax_default box_3">
            <div id="u402_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u403" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u404" class="ax_default box_3">
            <div id="u404_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u405" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>
    </div>
</body>
</html>
