body {
    margin: 0px;
    background-image: none;
    position: static;
    left: auto;
    width: 1900px;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
}

#base {
    position: absolute;
    z-index: 0;
}

#u734_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1920px;
    height: 1080px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: 5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
    -webkit-box-shadow: 5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
    box-shadow: 5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
}

#u734 {
    position: absolute;
    left: -10px;
    top: -5px;
    width: 1920px;
    height: 1080px;
}

#u735 {
    position: absolute;
    left: 2px;
    top: 532px;
    width: 1916px;
    visibility: hidden;
    word-wrap: break-word;
}

#u736_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1013px;
    height: 900px;
    background: inherit;
    background-color: rgba(242, 242, 242, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u736 {
    position: absolute;
    left: 544px;
    top: 85px;
    width: 1013px;
    height: 900px;
}

#u737 {
    position: absolute;
    left: 2px;
    top: 442px;
    width: 1009px;
    visibility: hidden;
    word-wrap: break-word;
}

#u738_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50px;
    height: 50px;
}

#u738 {
    position: absolute;
    left: 430px;
    top: 150px;
    width: 50px;
    height: 50px;
}

#u739 {
    position: absolute;
    left: 2px;
    top: 17px;
    width: 46px;
    visibility: hidden;
    word-wrap: break-word;
}

#u740_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 129px;
    height: 21px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
}

#u740 {
    position: absolute;
    left: 391px;
    top: 225px;
    width: 129px;
    height: 21px;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
}

#u741 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 131px;
    white-space: nowrap;
}

#u742_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 225px;
    height: 35px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u742 {
    position: absolute;
    left: 755px;
    top: 125px;
    width: 225px;
    height: 35px;
}

#u743 {
    position: absolute;
    left: 2px;
    top: 10px;
    width: 221px;
    visibility: hidden;
    word-wrap: break-word;
}

#u744_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 138px;
    height: 30px;
    background: inherit;
    background-color: rgba(0, 0, 0, 1);
    border: none;
    border-radius: 60px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
}

#u744 {
    position: absolute;
    left: 570px;
    top: 201px;
    width: 138px;
    height: 30px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
}

#u745 {
    position: absolute;
    left: 2px;
    top: 7px;
    width: 134px;
    visibility: hidden;
    word-wrap: break-word;
}

#u746_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 27px;
    height: 27px;
}

#u746 {
    position: absolute;
    left: 762px;
    top: 130px;
    width: 27px;
    height: 27px;
}

#u747 {
    position: absolute;
    left: 2px;
    top: 6px;
    width: 23px;
    visibility: hidden;
    word-wrap: break-word;
}

#u748_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 24px;
    height: 22px;
}

#u748 {
    position: absolute;
    left: 1501px;
    top: 126px;
    width: 24px;
    height: 22px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

#u749 {
    position: absolute;
    left: 2px;
    top: 3px;
    width: 20px;
    visibility: hidden;
    word-wrap: break-word;
}

#u750_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 35px;
    height: 35px;
}

#u750 {
    position: absolute;
    left: 1376px;
    top: 125px;
    width: 35px;
    height: 35px;
}

#u751 {
    position: absolute;
    left: 2px;
    top: 10px;
    width: 31px;
    visibility: hidden;
    word-wrap: break-word;
}

#u752_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 49px;
    height: 1px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    font-size: 12px;
}

#u752 {
    position: absolute;
    left: 1432px;
    top: 134px;
    width: 49px;
    height: 1px;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    font-size: 12px;
}

#u753 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 49px;
    white-space: nowrap;
}

#u754_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 23px;
    height: 23px;
}

#u754 {
    position: absolute;
    left: 1250px;
    top: 132px;
    width: 23px;
    height: 23px;
}

#u755 {
    position: absolute;
    left: 2px;
    top: 4px;
    width: 19px;
    visibility: hidden;
    word-wrap: break-word;
}

#u756_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 49px;
    height: 1px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    font-size: 12px;
}

#u756 {
    position: absolute;
    left: 1291px;
    top: 134px;
    width: 49px;
    height: 1px;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    font-size: 12px;
}

#u757 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 49px;
    white-space: nowrap;
}

#u758_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 137px;
    height: 23px;
}

#u758 {
    position: absolute;
    left: 577px;
    top: 134px;
    width: 137px;
    height: 23px;
}

#u759 {
    position: absolute;
    left: 2px;
    top: 4px;
    width: 133px;
    visibility: hidden;
    word-wrap: break-word;
}

#u760_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1013px;
    height: 1px;
    background: inherit;
    background-color: rgba(0, 0, 0, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u760 {
    position: absolute;
    left: 544px;
    top: 182px;
    width: 1013px;
    height: 1px;
}

#u761 {
    position: absolute;
    left: 2px;
    top: -8px;
    width: 1009px;
    visibility: hidden;
    word-wrap: break-word;
}

#u762_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 91px;
    height: 25px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    color: #FFFFFF;
}

#u762 {
    position: absolute;
    left: 592px;
    top: 203px;
    width: 91px;
    height: 25px;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    color: #FFFFFF;
}

#u763 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 93px;
    white-space: nowrap;
}

#u764_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 60px;
    height: 60px;
}

#u764 {
    position: absolute;
    left: 426px;
    top: 362px;
    width: 59px;
    height: 59px;
}

#u765 {
    position: absolute;
    left: 2px;
    top: 22px;
    width: 55px;
    visibility: hidden;
    word-wrap: break-word;
}

#u766_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 145px;
    height: 25px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    color: #999999;
}

#u766 {
    position: absolute;
    left: 392px;
    top: 448px;
    width: 145px;
    height: 25px;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    color: #999999;
}

#u767 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 148px;
    white-space: nowrap;
}

#u768_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 60px;
    height: 60px;
}

#u768 {
    position: absolute;
    left: 426px;
    top: 549px;
    width: 59px;
    height: 59px;
}

#u769 {
    position: absolute;
    left: 2px;
    top: 22px;
    width: 55px;
    visibility: hidden;
    word-wrap: break-word;
}

#u770_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 73px;
    height: 25px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    color: #999999;
}

#u770 {
    position: absolute;
    left: 419px;
    top: 635px;
    width: 73px;
    height: 25px;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    color: #999999;
}

#u771 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 75px;
    white-space: nowrap;
}

#u772_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 297px;
    height: 806px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: 5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
    -webkit-box-shadow: 5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
    box-shadow: 5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
}

#u772 {
    position: absolute;
    left: 1260px;
    top: 182px;
    width: 297px;
    height: 806px;
}

#u773 {
    position: absolute;
    left: 2px;
    top: 395px;
    width: 293px;
    visibility: hidden;
    word-wrap: break-word;
}

#u774_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 307px;
    height: 1px;
    background: inherit;
    background-color: rgba(0, 0, 0, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u774 {
    position: absolute;
    left: 1260px;
    top: 315px;
    width: 307px;
    height: 1px;
}

#u775 {
    position: absolute;
    left: 2px;
    top: -8px;
    width: 303px;
    visibility: hidden;
    word-wrap: break-word;
}

#u776_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 126px;
    height: 25px;
    background: inherit;
    background-color: rgba(0, 0, 0, 1);
    border: none;
    border-radius: 30px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
}

#u776 {
    position: absolute;
    left: 1355px;
    top: 905px;
    width: 126px;
    height: 25px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
}

#u777 {
    position: absolute;
    left: 2px;
    top: 4px;
    width: 122px;
    word-wrap: break-word;
}

#u778_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 85px;
    height: 17px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    font-size: 12px;
}

#u778 {
    position: absolute;
    left: 1285px;
    top: 326px;
    width: 85px;
    height: 17px;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    font-size: 12px;
}

#u779 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 85px;
    word-wrap: break-word;
}

#u780_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 146px;
    height: 20px;
    background: inherit;
    background-color: rgba(148, 148, 148, 1);
    border: none;
    border-radius: 3px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u780 {
    position: absolute;
    left: 1374px;
    top: 325px;
    width: 146px;
    height: 20px;
}

#u781 {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 142px;
    visibility: hidden;
    word-wrap: break-word;
}

#u782_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 307px;
    height: 1px;
    background: inherit;
    background-color: rgba(188, 188, 188, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u782 {
    position: absolute;
    left: 1260px;
    top: 355px;
    width: 307px;
    height: 1px;
}

#u783 {
    position: absolute;
    left: 2px;
    top: -8px;
    width: 303px;
    visibility: hidden;
    word-wrap: break-word;
}

#u784_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 85px;
    height: 17px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    font-size: 12px;
}

#u784 {
    position: absolute;
    left: 1285px;
    top: 367px;
    width: 85px;
    height: 17px;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    font-size: 12px;
}

#u785 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 85px;
    word-wrap: break-word;
}

#u786_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 146px;
    height: 20px;
    background: inherit;
    background-color: rgba(201, 201, 201, 1);
    border: none;
    border-radius: 3px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u786 {
    position: absolute;
    left: 1374px;
    top: 366px;
    width: 146px;
    height: 20px;
}

#u787 {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 142px;
    visibility: hidden;
    word-wrap: break-word;
}

#u788_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 660px;
    height: 730px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 5px;
    -moz-box-shadow: 5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
    -webkit-box-shadow: 5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
    box-shadow: 5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
}

#u788 {
    position: absolute;
    left: 580px;
    top: 250px;
    width: 660px;
    height: 730px;
}

#u789 {
    position: absolute;
    left: 2px;
    top: 357px;
    width: 656px;
    visibility: hidden;
    word-wrap: break-word;
}

#u790_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 160px;
    height: 30px;
    background: inherit;
    background-color: rgba(0, 0, 0, 1);
    border: none;
    border-radius: 60px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
}

#u790 {
    position: absolute;
    left: 610px;
    top: 250px;
    width: 160px;
    height: 30px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
}

#u791 {
    position: absolute;
    left: 2px;
    top: 7px;
    width: 156px;
    word-wrap: break-word;
}

#u792_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 91px;
    height: 25px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
}

#u792 {
    position: absolute;
    left: 1275px;
    top: 240px;
    width: 91px;
    height: 25px;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
}

#u793 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 93px;
    white-space: nowrap;
}

#u794_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 112px;
    height: 17px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    font-size: 12px;
}

#u794 {
    position: absolute;
    left: 700px;
    top: 290px;
    width: 112px;
    height: 17px;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    font-size: 12px;
}

#u795 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 112px;
    word-wrap: break-word;
}

#u796_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 112px;
    height: 17px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    font-size: 12px;
}

#u796 {
    position: absolute;
    left: 787px;
    top: 290px;
    width: 112px;
    height: 17px;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    font-size: 12px;
}

#u797 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 112px;
    word-wrap: break-word;
}

#u798_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 112px;
    height: 17px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    font-size: 12px;
}

#u798 {
    position: absolute;
    left: 909px;
    top: 290px;
    width: 112px;
    height: 17px;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    font-size: 12px;
}

#u799 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 112px;
    word-wrap: break-word;
}

#u800_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 112px;
    height: 17px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    font-size: 12px;
}

#u800 {
    position: absolute;
    left: 1021px;
    top: 290px;
    width: 112px;
    height: 17px;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    font-size: 12px;
}

#u801 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 112px;
    word-wrap: break-word;
}

#u802_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 112px;
    height: 17px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    font-size: 12px;
}

#u802 {
    position: absolute;
    left: 610px;
    top: 290px;
    width: 112px;
    height: 17px;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    font-size: 12px;
}

#u803 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 112px;
    word-wrap: break-word;
}

#u804_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 101px;
    height: 22px;
    background: inherit;
    background-color: rgba(148, 148, 148, 1);
    border: none;
    border-radius: 3px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
}

#u804 {
    position: absolute;
    left: 600px;
    top: 334px;
    width: 101px;
    height: 22px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
}

#u805 {
    position: absolute;
    left: 2px;
    top: 3px;
    width: 97px;
    word-wrap: break-word;
}

#u806_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 660px;
    height: 1px;
    background: inherit;
    background-color: rgba(0, 0, 0, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u806 {
    position: absolute;
    left: 580px;
    top: 315px;
    width: 660px;
    height: 1px;
}

#u807 {
    position: absolute;
    left: 2px;
    top: -8px;
    width: 656px;
    visibility: hidden;
    word-wrap: break-word;
}

#u808_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 85px;
    height: 17px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    font-size: 12px;
}

#u808 {
    position: absolute;
    left: 1105px;
    top: 290px;
    width: 85px;
    height: 17px;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    font-size: 12px;
}

#u809 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 85px;
    word-wrap: break-word;
}

#u810_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 60px;
    height: 20px;
    background: inherit;
    background-color: rgba(201, 201, 201, 1);
    border: none;
    border-radius: 3px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u810 {
    position: absolute;
    left: 600px;
    top: 373px;
    width: 60px;
    height: 20px;
}

#u811 {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 56px;
    visibility: hidden;
    word-wrap: break-word;
}

#u812_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 60px;
    height: 20px;
    background: inherit;
    background-color: rgba(201, 201, 201, 1);
    border: none;
    border-radius: 3px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u812 {
    position: absolute;
    left: 700px;
    top: 373px;
    width: 60px;
    height: 20px;
}

#u813 {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 56px;
    visibility: hidden;
    word-wrap: break-word;
}

#u814_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 60px;
    height: 20px;
    background: inherit;
    background-color: rgba(201, 201, 201, 1);
    border: none;
    border-radius: 3px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u814 {
    position: absolute;
    left: 787px;
    top: 373px;
    width: 60px;
    height: 20px;
}

#u815 {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 56px;
    visibility: hidden;
    word-wrap: break-word;
}

#u816_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 60px;
    height: 20px;
    background: inherit;
    background-color: rgba(201, 201, 201, 1);
    border: none;
    border-radius: 3px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u816 {
    position: absolute;
    left: 900px;
    top: 373px;
    width: 60px;
    height: 20px;
}

#u817 {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 56px;
    visibility: hidden;
    word-wrap: break-word;
}

#u818_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 60px;
    height: 20px;
    background: inherit;
    background-color: rgba(201, 201, 201, 1);
    border: none;
    border-radius: 3px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u818 {
    position: absolute;
    left: 1010px;
    top: 373px;
    width: 60px;
    height: 20px;
}

#u819 {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 56px;
    visibility: hidden;
    word-wrap: break-word;
}

#u820_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 95px;
    height: 20px;
    background: inherit;
    background-color: rgba(201, 201, 201, 1);
    border: none;
    border-radius: 3px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u820 {
    position: absolute;
    left: 1105px;
    top: 373px;
    width: 95px;
    height: 20px;
}

#u821 {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 91px;
    visibility: hidden;
    word-wrap: break-word;
}

#u822_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 670px;
    height: 1px;
    background: inherit;
    background-color: rgba(188, 188, 188, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u822 {
    position: absolute;
    left: 570px;
    top: 405px;
    width: 670px;
    height: 1px;
}

#u823 {
    position: absolute;
    left: 2px;
    top: -8px;
    width: 666px;
    visibility: hidden;
    word-wrap: break-word;
}

#u824 {
    position: absolute;
    left: 1210px;
    top: 373px;
    width: 20px;
    height: 16px;
}

#u825 {
    position: absolute;
    left: 16px;
    top: 0px;
    width: 2px;
    visibility: hidden;
    word-wrap: break-word;
}

#u824_input {
    position: absolute;
    left: -3px;
    top: -2px;
}

#u826_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 101px;
    height: 22px;
    background: inherit;
    background-color: rgba(148, 148, 148, 1);
    border: none;
    border-radius: 3px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
}

#u826 {
    position: absolute;
    left: 600px;
    top: 416px;
    width: 101px;
    height: 22px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
}

#u827 {
    position: absolute;
    left: 2px;
    top: 3px;
    width: 97px;
    word-wrap: break-word;
}

#u828_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 60px;
    height: 20px;
    background: inherit;
    background-color: rgba(201, 201, 201, 1);
    border: none;
    border-radius: 3px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u828 {
    position: absolute;
    left: 600px;
    top: 455px;
    width: 60px;
    height: 20px;
}

#u829 {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 56px;
    visibility: hidden;
    word-wrap: break-word;
}

#u830_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 60px;
    height: 20px;
    background: inherit;
    background-color: rgba(201, 201, 201, 1);
    border: none;
    border-radius: 3px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u830 {
    position: absolute;
    left: 700px;
    top: 455px;
    width: 60px;
    height: 20px;
}

#u831 {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 56px;
    visibility: hidden;
    word-wrap: break-word;
}

#u832_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 60px;
    height: 20px;
    background: inherit;
    background-color: rgba(201, 201, 201, 1);
    border: none;
    border-radius: 3px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u832 {
    position: absolute;
    left: 787px;
    top: 455px;
    width: 60px;
    height: 20px;
}

#u833 {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 56px;
    visibility: hidden;
    word-wrap: break-word;
}

#u834_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 60px;
    height: 20px;
    background: inherit;
    background-color: rgba(201, 201, 201, 1);
    border: none;
    border-radius: 3px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u834 {
    position: absolute;
    left: 900px;
    top: 455px;
    width: 60px;
    height: 20px;
}

#u835 {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 56px;
    visibility: hidden;
    word-wrap: break-word;
}

#u836_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 60px;
    height: 20px;
    background: inherit;
    background-color: rgba(201, 201, 201, 1);
    border: none;
    border-radius: 3px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u836 {
    position: absolute;
    left: 1010px;
    top: 455px;
    width: 60px;
    height: 20px;
}

#u837 {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 56px;
    visibility: hidden;
    word-wrap: break-word;
}

#u838_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 95px;
    height: 20px;
    background: inherit;
    background-color: rgba(201, 201, 201, 1);
    border: none;
    border-radius: 3px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u838 {
    position: absolute;
    left: 1105px;
    top: 455px;
    width: 95px;
    height: 20px;
}

#u839 {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 91px;
    visibility: hidden;
    word-wrap: break-word;
}

#u840 {
    position: absolute;
    left: 1210px;
    top: 455px;
    width: 20px;
    height: 16px;
}

#u841 {
    position: absolute;
    left: 16px;
    top: 0px;
    width: 2px;
    visibility: hidden;
    word-wrap: break-word;
}

#u840_input {
    position: absolute;
    left: -3px;
    top: -2px;
}

#u842_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 60px;
    height: 20px;
    background: inherit;
    background-color: rgba(201, 201, 201, 1);
    border: none;
    border-radius: 3px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u842 {
    position: absolute;
    left: 600px;
    top: 490px;
    width: 60px;
    height: 20px;
}

#u843 {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 56px;
    visibility: hidden;
    word-wrap: break-word;
}

#u844_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 60px;
    height: 20px;
    background: inherit;
    background-color: rgba(201, 201, 201, 1);
    border: none;
    border-radius: 3px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u844 {
    position: absolute;
    left: 700px;
    top: 490px;
    width: 60px;
    height: 20px;
}

#u845 {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 56px;
    visibility: hidden;
    word-wrap: break-word;
}

#u846_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 60px;
    height: 20px;
    background: inherit;
    background-color: rgba(201, 201, 201, 1);
    border: none;
    border-radius: 3px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u846 {
    position: absolute;
    left: 787px;
    top: 490px;
    width: 60px;
    height: 20px;
}

#u847 {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 56px;
    visibility: hidden;
    word-wrap: break-word;
}

#u848_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 60px;
    height: 20px;
    background: inherit;
    background-color: rgba(201, 201, 201, 1);
    border: none;
    border-radius: 3px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u848 {
    position: absolute;
    left: 900px;
    top: 490px;
    width: 60px;
    height: 20px;
}

#u849 {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 56px;
    visibility: hidden;
    word-wrap: break-word;
}

#u850_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 60px;
    height: 20px;
    background: inherit;
    background-color: rgba(201, 201, 201, 1);
    border: none;
    border-radius: 3px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u850 {
    position: absolute;
    left: 1010px;
    top: 490px;
    width: 60px;
    height: 20px;
}

#u851 {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 56px;
    visibility: hidden;
    word-wrap: break-word;
}

#u852_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 95px;
    height: 20px;
    background: inherit;
    background-color: rgba(201, 201, 201, 1);
    border: none;
    border-radius: 3px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u852 {
    position: absolute;
    left: 1105px;
    top: 490px;
    width: 95px;
    height: 20px;
}

#u853 {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 91px;
    visibility: hidden;
    word-wrap: break-word;
}

#u854_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 60px;
    height: 20px;
    background: inherit;
    background-color: rgba(201, 201, 201, 1);
    border: none;
    border-radius: 3px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u854 {
    position: absolute;
    left: 600px;
    top: 525px;
    width: 60px;
    height: 20px;
}

#u855 {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 56px;
    visibility: hidden;
    word-wrap: break-word;
}

#u856_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 60px;
    height: 20px;
    background: inherit;
    background-color: rgba(201, 201, 201, 1);
    border: none;
    border-radius: 3px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u856 {
    position: absolute;
    left: 700px;
    top: 525px;
    width: 60px;
    height: 20px;
}

#u857 {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 56px;
    visibility: hidden;
    word-wrap: break-word;
}

#u858_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 60px;
    height: 20px;
    background: inherit;
    background-color: rgba(201, 201, 201, 1);
    border: none;
    border-radius: 3px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u858 {
    position: absolute;
    left: 787px;
    top: 525px;
    width: 60px;
    height: 20px;
}

#u859 {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 56px;
    visibility: hidden;
    word-wrap: break-word;
}

#u860_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 60px;
    height: 20px;
    background: inherit;
    background-color: rgba(201, 201, 201, 1);
    border: none;
    border-radius: 3px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u860 {
    position: absolute;
    left: 900px;
    top: 525px;
    width: 60px;
    height: 20px;
}

#u861 {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 56px;
    visibility: hidden;
    word-wrap: break-word;
}

#u862_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 60px;
    height: 20px;
    background: inherit;
    background-color: rgba(201, 201, 201, 1);
    border: none;
    border-radius: 3px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u862 {
    position: absolute;
    left: 1010px;
    top: 525px;
    width: 60px;
    height: 20px;
}

#u863 {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 56px;
    visibility: hidden;
    word-wrap: break-word;
}

#u864_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 95px;
    height: 20px;
    background: inherit;
    background-color: rgba(201, 201, 201, 1);
    border: none;
    border-radius: 3px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u864 {
    position: absolute;
    left: 1105px;
    top: 525px;
    width: 95px;
    height: 20px;
}

#u865 {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 91px;
    visibility: hidden;
    word-wrap: break-word;
}

#u866 {
    position: absolute;
    left: 1210px;
    top: 490px;
    width: 20px;
    height: 16px;
}

#u867 {
    position: absolute;
    left: 16px;
    top: 0px;
    width: 2px;
    visibility: hidden;
    word-wrap: break-word;
}

#u866_input {
    position: absolute;
    left: -3px;
    top: -2px;
}

#u868 {
    position: absolute;
    left: 1210px;
    top: 525px;
    width: 20px;
    height: 16px;
}

#u869 {
    position: absolute;
    left: 16px;
    top: 0px;
    width: 2px;
    visibility: hidden;
    word-wrap: break-word;
}

#u868_input {
    position: absolute;
    left: -3px;
    top: -2px;
}

#u870_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 126px;
    height: 25px;
    background: inherit;
    background-color: rgba(0, 0, 0, 1);
    border: none;
    border-radius: 30px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
}

#u870 {
    position: absolute;
    left: 900px;
    top: 909px;
    width: 126px;
    height: 25px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
}

#u871 {
    position: absolute;
    left: 2px;
    top: 4px;
    width: 122px;
    word-wrap: break-word;
}

#u872_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 98px;
    height: 17px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    font-size: 12px;
}

#u872 {
    position: absolute;
    left: 812px;
    top: 913px;
    width: 98px;
    height: 17px;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    font-size: 12px;
}

#u873 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 98px;
    word-wrap: break-word;
}
