body {
    margin: 0px;
    background-image: none;
    position: static;
    left: auto;
    width: 1920px;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
}

#base {
    position: absolute;
    z-index: 0;
}

#u406_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1920px;
    height: 1080px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: 5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
    -webkit-box-shadow: 5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
    box-shadow: 5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
}

#u406 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1920px;
    height: 1080px;
}

#u407 {
    position: absolute;
    left: 2px;
    top: 532px;
    width: 1916px;
    visibility: hidden;
    word-wrap: break-word;
}

#u408_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1013px;
    height: 900px;
    background: inherit;
    background-color: rgba(242, 242, 242, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u408 {
    position: absolute;
    left: 544px;
    top: 88px;
    width: 1013px;
    height: 900px;
}

#u409 {
    position: absolute;
    left: 2px;
    top: 442px;
    width: 1009px;
    visibility: hidden;
    word-wrap: break-word;
}

#u410_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50px;
    height: 50px;
}

#u410 {
    position: absolute;
    left: 430px;
    top: 150px;
    width: 50px;
    height: 50px;
}

#u411 {
    position: absolute;
    left: 2px;
    top: 17px;
    width: 46px;
    visibility: hidden;
    word-wrap: break-word;
}

#u412_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 129px;
    height: 21px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
}

#u412 {
    position: absolute;
    left: 391px;
    top: 225px;
    width: 129px;
    height: 21px;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
}

#u413 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 131px;
    white-space: nowrap;
}

#u414_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 225px;
    height: 35px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u414 {
    position: absolute;
    left: 755px;
    top: 125px;
    width: 225px;
    height: 35px;
}

#u415 {
    position: absolute;
    left: 2px;
    top: 10px;
    width: 221px;
    visibility: hidden;
    word-wrap: break-word;
}

#u416_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 27px;
    height: 27px;
}

#u416 {
    position: absolute;
    left: 762px;
    top: 130px;
    width: 27px;
    height: 27px;
}

#u417 {
    position: absolute;
    left: 2px;
    top: 6px;
    width: 23px;
    visibility: hidden;
    word-wrap: break-word;
}

#u418_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 24px;
    height: 22px;
}

#u418 {
    position: absolute;
    left: 1501px;
    top: 126px;
    width: 24px;
    height: 22px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

#u419 {
    position: absolute;
    left: 2px;
    top: 3px;
    width: 20px;
    visibility: hidden;
    word-wrap: break-word;
}

#u420_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 35px;
    height: 35px;
}

#u420 {
    position: absolute;
    left: 1376px;
    top: 125px;
    width: 35px;
    height: 35px;
}

#u421 {
    position: absolute;
    left: 2px;
    top: 10px;
    width: 31px;
    visibility: hidden;
    word-wrap: break-word;
}

#u422_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 49px;
    height: 1px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    font-size: 12px;
}

#u422 {
    position: absolute;
    left: 1432px;
    top: 134px;
    width: 49px;
    height: 1px;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    font-size: 12px;
}

#u423 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 49px;
    white-space: nowrap;
}

#u424_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 23px;
    height: 23px;
}

#u424 {
    position: absolute;
    left: 1250px;
    top: 132px;
    width: 23px;
    height: 23px;
}

#u425 {
    position: absolute;
    left: 2px;
    top: 4px;
    width: 19px;
    visibility: hidden;
    word-wrap: break-word;
}

#u426_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 49px;
    height: 1px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    font-size: 12px;
}

#u426 {
    position: absolute;
    left: 1291px;
    top: 134px;
    width: 49px;
    height: 1px;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    font-size: 12px;
}

#u427 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 49px;
    white-space: nowrap;
}

#u428_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 60px;
    height: 60px;
}

#u428 {
    position: absolute;
    left: 426px;
    top: 362px;
    width: 59px;
    height: 59px;
}

#u429 {
    position: absolute;
    left: 2px;
    top: 22px;
    width: 55px;
    visibility: hidden;
    word-wrap: break-word;
}

#u430_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 73px;
    height: 25px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    color: #999999;
}

#u430 {
    position: absolute;
    left: 419px;
    top: 448px;
    width: 73px;
    height: 25px;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    color: #999999;
}

#u431 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 75px;
    white-space: nowrap;
}

#u432_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 60px;
    height: 60px;
}

#u432 {
    position: absolute;
    left: 426px;
    top: 549px;
    width: 59px;
    height: 59px;
}

#u433 {
    position: absolute;
    left: 2px;
    top: 22px;
    width: 55px;
    visibility: hidden;
    word-wrap: break-word;
}

#u434_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 73px;
    height: 25px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
    color: #999999;
}

#u434 {
    position: absolute;
    left: 419px;
    top: 635px;
    width: 73px;
    height: 25px;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
    color: #999999;
}

#u435 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 75px;
    white-space: nowrap;
}

#u436_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 137px;
    height: 23px;
}

#u436 {
    position: absolute;
    left: 577px;
    top: 134px;
    width: 137px;
    height: 23px;
}

#u437 {
    position: absolute;
    left: 2px;
    top: 4px;
    width: 133px;
    visibility: hidden;
    word-wrap: break-word;
}

#u438_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1013px;
    height: 1px;
    background: inherit;
    background-color: rgba(0, 0, 0, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u438 {
    position: absolute;
    left: 544px;
    top: 182px;
    width: 1013px;
    height: 1px;
}

#u439 {
    position: absolute;
    left: 2px;
    top: -8px;
    width: 1009px;
    visibility: hidden;
    word-wrap: break-word;
}

#u440_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 60px;
    height: 60px;
}

#u440 {
    position: absolute;
    left: 426px;
    top: 738px;
    width: 59px;
    height: 59px;
}

#u441 {
    position: absolute;
    left: 2px;
    top: 22px;
    width: 55px;
    visibility: hidden;
    word-wrap: break-word;
}

#u442_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 73px;
    height: 25px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    color: #999999;
}

#u442 {
    position: absolute;
    left: 419px;
    top: 824px;
    width: 73px;
    height: 25px;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    color: #999999;
}

#u443 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 75px;
    white-space: nowrap;
}

#u444_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 944px;
    height: 427px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 13px;
    -moz-box-shadow: 5px 5px 15px rgba(153, 153, 153, 0.349019607843137);
    -webkit-box-shadow: 5px 5px 15px rgba(153, 153, 153, 0.349019607843137);
    box-shadow: 5px 5px 15px rgba(153, 153, 153, 0.349019607843137);
}

#u444 {
    position: absolute;
    left: 579px;
    top: 280px;
    width: 944px;
    height: 427px;
}

#u445 {
    position: absolute;
    left: 2px;
    top: 206px;
    width: 940px;
    visibility: hidden;
    word-wrap: break-word;
}

#u446_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 190px;
    height: 30px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u446 {
    position: absolute;
    left: 630px;
    top: 400px;
    width: 190px;
    height: 30px;
}

#u447 {
    position: absolute;
    left: 2px;
    top: 7px;
    width: 186px;
    visibility: hidden;
    word-wrap: break-word;
}

#u448_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 25px;
    height: 1px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    font-size: 12px;
}

#u448 {
    position: absolute;
    left: 630px;
    top: 373px;
    width: 25px;
    height: 1px;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    font-size: 12px;
}

#u449 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 25px;
    white-space: nowrap;
}

#u450_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 190px;
    height: 30px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u450 {
    position: absolute;
    left: 850px;
    top: 400px;
    width: 190px;
    height: 30px;
}

#u451 {
    position: absolute;
    left: 2px;
    top: 7px;
    width: 186px;
    visibility: hidden;
    word-wrap: break-word;
}

#u452_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 190px;
    height: 30px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u452 {
    position: absolute;
    left: 1070px;
    top: 400px;
    width: 190px;
    height: 30px;
}

#u453 {
    position: absolute;
    left: 2px;
    top: 7px;
    width: 186px;
    visibility: hidden;
    word-wrap: break-word;
}

#u454_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 190px;
    height: 30px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u454 {
    position: absolute;
    left: 1291px;
    top: 400px;
    width: 190px;
    height: 30px;
}

#u455 {
    position: absolute;
    left: 2px;
    top: 7px;
    width: 186px;
    visibility: hidden;
    word-wrap: break-word;
}

#u456_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 190px;
    height: 30px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u456 {
    position: absolute;
    left: 630px;
    top: 467px;
    width: 190px;
    height: 30px;
}

#u457 {
    position: absolute;
    left: 2px;
    top: 7px;
    width: 186px;
    visibility: hidden;
    word-wrap: break-word;
}

#u458_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 190px;
    height: 30px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u458 {
    position: absolute;
    left: 850px;
    top: 467px;
    width: 190px;
    height: 30px;
}

#u459 {
    position: absolute;
    left: 2px;
    top: 7px;
    width: 186px;
    visibility: hidden;
    word-wrap: break-word;
}

#u460_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 25px;
    height: 17px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    font-size: 12px;
}

#u460 {
    position: absolute;
    left: 850px;
    top: 373px;
    width: 25px;
    height: 17px;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    font-size: 12px;
}

#u461 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 25px;
    white-space: nowrap;
}

#u462_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 70px;
    height: 17px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    font-size: 12px;
}

#u462 {
    position: absolute;
    left: 1070px;
    top: 373px;
    width: 70px;
    height: 17px;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    font-size: 12px;
}

#u463 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 70px;
    word-wrap: break-word;
}

#u464_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 70px;
    height: 17px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    font-size: 12px;
}

#u464 {
    position: absolute;
    left: 1291px;
    top: 373px;
    width: 70px;
    height: 17px;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    font-size: 12px;
}

#u465 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 70px;
    word-wrap: break-word;
}

#u466_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 49px;
    height: 1px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    font-size: 12px;
}

#u466 {
    position: absolute;
    left: 630px;
    top: 441px;
    width: 49px;
    height: 1px;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    font-size: 12px;
}

#u467 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 49px;
    white-space: nowrap;
}

#u468_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 49px;
    height: 1px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    font-size: 12px;
}

#u468 {
    position: absolute;
    left: 850px;
    top: 441px;
    width: 49px;
    height: 1px;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    font-size: 12px;
}

#u469 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 49px;
    white-space: nowrap;
}

#u470_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 290px;
    height: 30px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u470 {
    position: absolute;
    left: 630px;
    top: 534px;
    width: 290px;
    height: 30px;
}

#u471 {
    position: absolute;
    left: 2px;
    top: 7px;
    width: 286px;
    visibility: hidden;
    word-wrap: break-word;
}

#u472_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 410px;
    height: 30px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u472 {
    position: absolute;
    left: 630px;
    top: 606px;
    width: 410px;
    height: 30px;
}

#u473 {
    position: absolute;
    left: 2px;
    top: 7px;
    width: 406px;
    visibility: hidden;
    word-wrap: break-word;
}

#u474_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 37px;
    height: 1px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    font-size: 12px;
}

#u474 {
    position: absolute;
    left: 630px;
    top: 507px;
    width: 37px;
    height: 1px;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    font-size: 12px;
}

#u475 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 37px;
    white-space: nowrap;
}

#u476_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 49px;
    height: 1px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    font-size: 12px;
}

#u476 {
    position: absolute;
    left: 630px;
    top: 579px;
    width: 49px;
    height: 1px;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    font-size: 12px;
}

#u477 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 49px;
    white-space: nowrap;
}

#u478_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 81px;
    height: 30px;
    background: inherit;
    background-color: rgba(0, 0, 0, 1);
    border: none;
    border-radius: 8px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u478 {
    position: absolute;
    left: 1400px;
    top: 300px;
    width: 81px;
    height: 30px;
}

#u479 {
    position: absolute;
    left: 2px;
    top: 7px;
    width: 77px;
    visibility: hidden;
    word-wrap: break-word;
}

#u480_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 33px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    font-size: 16px;
    color: #FFFFFF;
}

#u480 {
    position: absolute;
    left: 1424px;
    top: 304px;
    width: 33px;
    height: 22px;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    font-size: 16px;
    color: #FFFFFF;
}

#u481 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 33px;
    white-space: nowrap;
}

#u482_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 73px;
    height: 25px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
}

#u482 {
    position: absolute;
    left: 609px;
    top: 235px;
    width: 73px;
    height: 25px;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
}

#u483 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 75px;
    white-space: nowrap;
}

#u484_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 81px;
    height: 30px;
    background: inherit;
    background-color: rgba(0, 0, 0, 1);
    border: none;
    border-radius: 8px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u484 {
    position: absolute;
    left: 1309px;
    top: 300px;
    width: 81px;
    height: 30px;
}

#u485 {
    position: absolute;
    left: 2px;
    top: 7px;
    width: 77px;
    visibility: hidden;
    word-wrap: break-word;
}

#u486_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 33px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    font-size: 16px;
    color: #FFFFFF;
}

#u486 {
    position: absolute;
    left: 1333px;
    top: 304px;
    width: 33px;
    height: 22px;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    font-size: 16px;
    color: #FFFFFF;
}

#u487 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 33px;
    white-space: nowrap;
}
