    <title>Demo</title>
    <script>
        /*function func1() {
            var row, col;
            $.get("/Repair/Req",
                {
                    code: "0"
                },
                function (data, status) {
                    row = Number(data);
                    //alert(row.toString());
                    $.get("/Repair/Req", {
                        code: "1"
                    }, function (data, status) {
                        col = Number(data);
                        //alert(col.toString());
                        for (var i = 0; i < row; ++i) {
                            var t = "a" + i.toString();
                            document.getElementById("table1").innerHTML += "<tr id=\"" + t + "\"</tr>"
                            for (var j = 0; j < col; ++j) {
                                func2(i, j);
                            }
                        }
                    });
                }
            );
        }            
        function func2(i, j) {
            $.get("/Repair/Req", {
                 code: "2",
                 row: i.toString(),
                 col: j.toString()
             }, function (data, status) {
              var k = "a" + i.toString();
              document.getElementById(k).innerHTML += "<td>" + data + "</td>";
             });
        }*/
    </script>
    <style>
        table,table tr th, table tr td 
        { 
            border-width:1px;
            border-style:solid;
        }
        table {
            border-collapse: collapse; 
            padding:3px;
        }  
    </style>
<body>
    <button id="b1" onclick="func1()">aaa</button>
    <p id="p1"></p>
    <table id="table1">
        <tr>
            @for (int j = 0; j < ViewBag.col; ++j)
            {
                <td>@ViewData[j.ToString()]</td>
            }
        </tr>
        @for(int i=0;i<ViewBag.row;++i)
        {
            <tr>
                @for(int j=0;j<ViewBag.col;++j)
                {
                    <td>@ViewData[i.ToString()+","+j.ToString()]</td>
                }
            </tr>
        }
    </table>
</body>